
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-container {
  background-color: #f5f6fa;
  height: 100vh;
}

.navbar {
  position: relative;
  display: flex;
  background-color: #fff;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  margin-bottom: 2rem;
}

a {
  text-decoration: none;
  color: rgb(54, 54, 54);
}

.nav-items {
  margin-left: 2rem;
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-link {
  margin-right: 1.7rem;
}

.logo {
  color: #0290ff;
  font-size: 2rem;
  font-weight: bold;
}

.user-logo {
  border: 1px solid rgb(117, 110, 109);
  width: 50px;
  height: 50px;
  position: absolute;
  right: 50px;
  border-radius: 50%;
  text-align: center;
}

.user-logo img {
  color: #0290ff;
  width: 50px;
  height: 50px;
  align-self: center;
}
